<div>
  <h6>{{metaData['2. Symbol']}}</h6>
  <h6>{{metaData['3. Last Refreshed']}}</h6>
  <h6>{{metaData['4. Time Zone']}}</h6>
  <h6>{{metaData['1. Information']}}</h6>
</div>

    <div style="display: block;">
      
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>