
<div class = "container-fluid">
  <div class = "row">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>

<!-- https://www.chartjs.org/docs/latest/charts/line.html -->
<!-- https://alligator.io/angular/chartjs-ng2-charts/ -->
<!-- https://getbootstrap.com/docs/4.3/components/navbar/ -->
<!-- https://www.npmjs.com/package/ng4-charts -->